body {
  background-color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#navButton {
  position: absolute;
  top: 30px;
  left: 90%;
  display: block;
  margin-top: 30px;
  margin-right: 50px;
  height: 9rem;
  width: 9rem;
  font-size: 3.7rem;
  background-color: green;
  border-radius: 50%;
  color: white;

  & span {
    color: white;
    ;
  }
}


.main {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: teal;

  & h1 {
    font-size: 3rem;

  }

  & form {
    display: flex;
    flex-direction: column;
    width: 1050px;

    & input {
      height: 110px;
      margin: 2.5rem;
      padding: 30px;
      background-color: coral;
    }

    & div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 40px;
    }

    & #check {
      height: 35px;
      width: 35px;
      display: inline;
      margin-top: 20px;
    }

    & p {
      display: inline;
      font-size: 2rem;
    }

    & button {
      font-size: 1.5rem;
      letter-spacing: 5px;
      margin: auto;
      text-transform: uppercase;
      width: 500px;
      height: 140px;
      border: 5px solid white;
    }
  }

}